---
import SocialLinks from './SocialLinks.astro';
import OtherLinks from './OtherLinks.astro';

import {
  NAME,
  ROLE,
} from '../consts';
---
<section class="flex flex-col sm:flex-row justify-between sm:space-x-8 mt-4">
  <div class="flex-shrink-0 items-center">
    <img
      src="https://avatars.githubusercontent.com/u/117294609?v=4"
      alt="Blaums Github Avatar"
      class="rounded-lg mx-auto mt-4 mb-2 w-64"
      loading="lazy"
    />
    <h3 class="text-lg font-semibold mt-6 mb-2 text-center sm:text-justify">Social Links!</h3>
    <SocialLinks/>
  </div>
  <div class="flex flex-col items-center sm:items-start sm:justify-start mt-4 sm:mt-0">
    <h1 class="text-2xl font-bold my-4 p-2 bg-blue-600 w-fit">
      Hi, I'm {NAME}!
    </h1>
    <p class="my-4 text-justify">
      I'm a 28-year-old <b>{ROLE}</b> based in Latvia, I am always learning new stuff and I am passionate about cybersecurity.
    </p>
    <p class="my-4 text-justify">
      In my free time, I indulge in studying</a> and I'm learning about IT security and about computer networking.
    </p>
    <h1 class="text-2xl font-bold my-6">
      Others!
    </h1>
    <OtherLinks/>
  </div>
</section>
